body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f1f3f6;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#2874f0;
  color:white;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

.search-box input{
  padding:8px;
  width:220px;
  border-radius:4px;
  border:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:500;
}

.cart-link{
  background:white;
  color:#2874f0 !important;
  padding:6px 12px;
  border-radius:4px;
}

/* HERO */
.hero{
  text-align:center;
  padding:50px 20px;
  background:linear-gradient(to right,#2874f0,#4b8df8);
  color:white;
}

/* PRODUCTS */
.products{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:40px;
  flex-wrap:wrap;
}

.product{
  background:white;
  padding:20px;
  border-radius:10px;
  width:250px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.product img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:8px;
}

.price{
  color:#e53935;
  font-weight:bold;
}

button{
  background:#ff9f00;
  border:none;
  padding:10px 20px;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  background:#fb8c00;
}

footer{
  text-align:center;
  padding:20px;
  background:#212121;
  color:white;
}
