body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f3f6;
}

/* ===== NAVBAR ===== */

.navbar {
  background: #1e3c72;
  padding: 12px 20px;
  color: white;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-box {
  flex: 1;
  text-align: center;
}

.search-box input {
  width: 60%;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Mobile Responsive */

@media (max-width: 768px) {

  .nav-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .search-box input {
    width: 90%;
  }

  .nav-links {
    justify-content: center;
    flex-wrap: wrap;
  }

}

/* HERO */
.hero {
  background: linear-gradient(to right, #2874f0, #1e3c72);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 36px;
}

/* PRODUCT CARD */

.product-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 20px;
}

.product-card img {
  width: 100%;
  max-width: 250px;   /* Image ka max size */
  height: 250px;      /* Fixed height */
  object-fit: cover;  /* Crop properly */
  border-radius: 10px;
}

.products-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background: #fb641b;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer
