body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.navbar {
  background: black;
  color: white;
  padding: 15px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}

.product {
  background: white;
  width: 200px;
  padding: 15px;
  border-radius: 10px;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
}

.buy {
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  background: blue;
  color: white;
  text-decoration: none;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 12px;
  border-radius: 50%;
  text-decoration: none;
}

footer {
  background: black;
  color: white;
  padding: 10px;
  margin-top: 30px;
}
